<!doctype html>
<html>
  <head>
    {% block head %}
    <title>PRAC - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('download_static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('download_static', filename='script/checks.js') }}"></script>
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>  
    {% endblock %}
  </head>
  <body>
    <div id="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>