<!doctype html>
<html>
  <head>
    <title>PRACWeb {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="{{ url_for('download_prac_static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('download_prac_static', filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69849855-3', 'auto');
      ga('send', 'pageview');

    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body style="width: 100%; height: 100%; background-color: white; padding: 0px; margin: 0px">
  <div class="header">
    <nav id="navbar-tool">
      <a class="navbar-tool-brand" href="http://www.open-ease.org"><img src="{{ url_for('download_prac_static', filename='images/oe-logo-small.svg') }}"> openEASE</a>
      <a class="navbar-tool-brand navbar-tool-brand-2" href="http://ai.uni-bremen.de/"><img src="{{ url_for('download_prac_static', filename='images/ai_logo_white.png') }}"></a>
      <a class="navbar-tool-brand navbar-tool-brand-2" href="http://www.informatik.uni-bremen.de/cms/detail.php?id=12"><img src="{{ url_for('download_prac_static', filename='images/uni-bremen.png') }}"></a>
    </nav>
  </div>
    <div id="page">
    {% block content %}
      <div id="prac_container" style="width:100%; height: 100%"></div>
    {% endblock  %}
    </div>
  </body>
</html>