<!doctype html>
<html>
  <head>
    <title>PRACWeb {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="{{ url_for('download_prac_static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('download_prac_static', filename='css/style.css') }}">
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>  
    <style>
      /* DO NOT MOVE TO CSS FILE! */
      #page {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 5px;
        top: 0px;
        padding: 0;
        margin: 0;
        margin-left: -8px;
        background: none repeat scroll 0% 0% #ffffff;
      }
    </style>
    {% block head %}
    {% endblock %}
  </head>
  <body style="width: 100%; height: 100%; background-color: white; padding: 0px; margin: 0px">
    <div id="page">
    {% block content %}
      <div id="prac_container" style="width: 100%; height: 100%;"></div>
    {% endblock  %}
    </div>
  </body>
</html>