<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>pracWEB</title>
  <script type="text/javascript" src="{{ url_for('download_prac_static', filename='script/pracweb.js') }}"></script>
  
  <style type="text/css">
    body {
      padding: 0px;
      margin: 0px;
      width: 10px;
    }

    #content {
      width: 10px;
      height: 100%;
      background-color: green;
      /*background-color: #D7D7D9;*/
    }

  </style>
</head>
<body>
  <div id="main">
    <div id="content">
    </div>
  </div>
</body>
</html>